{% extends "resources/base.html" %}

{% block content %}
<h1>{{ resource.name }}</h1>
<p>
	{{ resource.description }}
</p>

<div>
	{# <a href= "{% url 'res.views.resource_detail' year month "prv" %}">&lt;&lt; Prev</a> #}
	{# }<a href= "{% url 'res.views.resource_detail' year month "nxt" %}">Next &gt;&gt;</a> #}

	<h2>{{ mname }} {{ year }}</h2>

	<div class="month">
		<div>
			<div>
			{% for week in month_days %}
				<div>
				{% for day, entries, current, dname in week %}

					<!-- TD style: empty | day | current; onClick handler and highlight  -->
					<div style="float: left; width: 14%; min-height: 1px"
					class= {% if day == 0 %}"empty"{% endif %}
					{% if day != 0 and not current %}"day"{% endif %}
					{% if day != 0 and current %}"current"{% endif %}
					{% if day != 0 %}
						{# onClick="parent.location='{% url 'cal.views.day' year month day %}'" #}
					{% endif %} ><!-- Day number and entry snippets -->
					{% if day != 0 %}
						<p>{{ dname }}</p>
						<p>{{ day }}</p>
						{% for entry in entries %}
							<br />
							<b>{{ entry.creator }}</b>: {{ entry.short|safe }}
						{% endfor %}
					{% endif %} </div>
				{% endfor %}
				<div style="clear: both">
				</div>
			{% endfor %}
			</div>
		</table>

		<div class="clear"></div>
	</div>
</div>

{% endblock %}
