{% extends "resources/base.html" %}

{% block content %}
<h1>{{ resource.name }}</h1>
<p>
	{{ resource.description }}
</p>

<div>
	{# <a href= "{% url 'res.views.resource_calendar' year month-1 "prv" %}">&lt;&lt; Prev</a> #}
	{# <a href= "{% url 'res.views.resource_calendar' resource_slug=resource.slug year=n_year month=n_month %}">Next &gt;&gt;</a> #}
	<a href= "/{{ resource.slug }}/{{ p_year }}-{{ p_month }}">&lt;&lt; Prev</a>
	<a href= "/{{ resource.slug }}/">Current</a>
	<a href= "/{{ resource.slug }}/{{ n_year }}-{{ n_month }}">Next &gt;&gt;</a>
	
	<h2>{{ mname }} {{ year }}</h2>

	<div class="month">
		{% for week in month_days %}
			{% for day, entries, current, dname, hours in week %}

				<!-- TD style: empty | day | current; onClick handler and highlight  -->
				<section class="calendar-day
				{% if day == 0 %}calendar-empty{% endif %}
				{% if day != 0 and not current %}calendar-day{% endif %}
				{% if day != 0 and current %}calendar-current{% endif %}"
				{% if day != 0 %}
					{# onClick="parent.location='{% url 'cal.views.day' year month day %}'" #}
				{% endif %} ><!-- Day number and entry snippets -->
				{% if day != 0 %}
					<header>
						<p>{{ dname }}</p>
						<p>{{ day }}</p>
					</header>
					<nav>
						<ul>
							{% for hour, quarters in hours %}
							<li>
								<p>{{ hour }}</p>
								<div>
									<ul>
										{% for quarter, ownership in quarters %}
										<li class="quarter {% if ownership == "free" %}quarter-free {% endif %} {% if ownership == "occupied" %}quarter-occupied {% endif %} {% if ownership == "booked" %}quarter-booked {% endif %}">
											{{quarter}}
										</li>
										{% endfor %}
									</ul>
								</div>
							</li>
							{% endfor %}
						</ul>
					</nav>
					{% for entry in entries %}
						<br />
						<b>{{ entry.creator }}</b>: {{ entry.short|safe }}
					{% endfor %}
				{% endif %}
				</section>
			{% endfor %}
		{% endfor %}
	</div>
</div>

{% endblock %}
